PROVIDER=bucket    # Specify your widget provider here (bucket only for now)
PROVIDER_BUCKET_NAME=  # Specify the bucket name for the bucket provider
PROVIDER_BUCKET_SERVICE_URL= # Specify the service API URL for the bucket provider (e.g. http://bucket-service)