WIDGET_PROVIDER=    # Specify your widget provider here (bucket or metabase)

# IF PROVIDER IS "bucket", UNCOMMENT AND FILL THE FOLLOWING VARIABLES:

# PROVIDER_BUCKET_NAME=  # Specify the bucket name for the bucket provider
# PROVIDER_BUCKET_SERVICE_URL= # Specify the service API URL for the bucket provider (e.g. http://bucket-service)

# IF PROVIDER IS "metabase", UNCOMMENT AND FILL THE FOLLOWING VARIABLES:
# PROVIDER_METABASE_SERVICE_URL= # Specify the base URL for the Metabase instance (e.g. http://metabase.local)
# PROVIDER_METABASE_API_KEY= # Specify the Admin API key for the Metabase instance (e.g. mb_XXXXXXXXXXXXXXXX)